page-real-time-proceedings-search {
.textColor{
color: darkgrey;
}
.dateAlign{
    text-align : left;
    font-size: 0.9em !important;
}
.icon1 ion-icon{
    font-size :85% !important;
    background-color: #ddeffa !important;
    height : fit-content !important;
    padding : 0px !important;
    margin : 0px !important;
    text-align: center !important;
}
.icon1{
    background-color: #ddeffa !important;
}
.iconGrp1{
    background-color: #DDEFFA !important;
    text-align:left !important; 
    font-weight: bold !important;
}
.red{
    color : red;
    background-color: #f7c3af !important;
}
.blue{
    color : blue;
    background-color: lightblue;
}
.green{
    color : green;
    background-color: #cee8bb;
}
 .button{
      background-color : #3A9EFC;
 }
 .fontColor{
    color: black !important;
}
.fontColor1{
    color: black !important;
    font-size: 0.9em !important;
}
.bar-button-menutoggle .button-inner{
border : none;
}
}
