page-about-president {
    .align {
        text-align: justify;
    }
    .center {
        text-align: center;
    }
    .usr-title {
        text-align: center;
        font-weight: bold;
    }
    img {
        height: 140px !important;
    }
}